@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        
        <a href="" class="logo">
            <h1>
                CLASS<b>MUSIC.COM</b>
            </h1>
         </a>
       <nav>
         <a href="" class="nav-link">inicio</a>
         <a href="" class="nav-link">contacto</a>
         <a href="" class="nav-link">informacion</a>
       </nav>
    </header>
    
    <form  class="form">
        <h2 class="form__title">iniciar sesion</h2>
     <p class="form__paraghaph">?aun no tienes cuenta? <a href="#" class="form__link">Entrar aqui</a></p>
     
     
        <div class="form__container">
        <div class="form__group">
         <input type="text" id="name" class="form__input" placeholder=" ">
         <label for="name" class="form__label">Nombre:</label>
         <span class="form__line"></span>
        </div>

        <div class="form__group">
         <input type="text" id="user" class="form__input" placeholder=" ">
         <label for="user" class="form__label">usuario:</label>
         <span class="form__line"></span>
        </div>
        
        <div class="form__group">
         <input type="text" id="password" class="form__input" placeholder=" ">
         <label for="password" class="form__label">contraseña:</label>
         <span class="form__line"></span>
        </div>
        <input type="submit" class="form__submit" value="Entrar">

    </form>
    
</body>

</html>
